[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Change SSH Pass
Type=Application
Terminal=false
Exec=/usr/share/ryoma/scripts/change_ssh_pass.sh
Icon=/usr/share/ryoma/img/lock.png
