[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Stop rAthena
Type=Application
Terminal=false
Exec=/usr/share/ryoma/scripts/stop_server.sh
Icon=/usr/share/ryoma/img/ragnarok.png
